#This is the example users file. To use this file,
#simply update the appropriate settings below, and
#then remove '.example' from the filename.
#
#This file must be 'users', lowercase and all.
#Otherwise it will not be read.

#XBMC configuration:
[xbmc]
#comment out the following if your XBMC is not configured for user authentication
username=yourUsername
password=yourPassword
#The following should be your server settings.
server=localhost
port=8080

#MAL configuration:
[mal]
#Replace the below with your MAL credentials.
username=yourUsername
password=yourPassword
